* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plain Light";
  color: #fff;
}
html,
body {
  width: 100%;
  height: 100%;
}
.main {
  position: relative;
  width: 100%;
  background-color: black;
}

.cursr {
    height: 2.3vw;
    width: 2.3vw;
    border-radius: 50%;
    z-index: 9999;
    border: 2px solid #ffffffae;
    position: fixed;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background-color: #000000;
  padding: 25vh 10vw;
}
.line {
  /* background-color: red; */
  height: fit-content;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3vw;
}
#line-1-part1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
#line-1-part1 h5,
#line-1-part1 h6 {
  font-size: 4vw;
  font-family: "silk serif";
  font-weight: 100;
}
#line-1-part1 h5 {
  /* background-color: red; */
  width: 5vw;
  text-align: right;
}

.line h1 {
  font-size: 6.5vw;
  text-transform: uppercase;
  font-weight: 200;
}
.line h2 {
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: 200;
  animation: 1s infinite ease-in-out;
  opacity: 0;
}

@keyframes anime {
    0% {
        font-family: "plain light";
        -webkit-text-stroke: 0.1px solid #fff;
        color: #fff;
        font-weight: 200;
        opacity: 1;
    }
    25% {
        font-family: "plain light";
        -webkit-text-stroke: 0.1px solid #fff;
        color: #fff;
        font-weight: 200;
        opacity: 0;
    }
    
    50% {
        font-family: "silk serif";
        -webkit-text-stroke: 0.1px solid #fff;
        color: transparent;
        font-weight: 200;
        opacity: 1;

    }
    
    75% {
        font-family: "silk serif";
        -webkit-text-stroke: 0.1px solid #fff;
        color: transparent;
        font-weight: 200;
        opacity: 1;

    }
    
    100% {
        font-family: "plain light";
        -webkit-text-stroke: 0.1px   #fff;
        color: #fff;
        font-weight: 200;
        opacity: 1;
    }
    
}

#page1 {
  width: 100%;
  height: 100vh;
  background-color: #151515;
}

#page1 .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.1vw 5.5vw;
}

#page1 #nav-p2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}
#page1 #nav-p2 h4 {
    font-weight: 500;
    font-size: 1vw;
}

.hero {
    /* background-color: red; */
    width: 70%;
    margin-left: 30%;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;
}
.hero:nth-child(2) {
    margin-top: 14vh;
}

#hero3 h1:hover{
  -webkit-text-stroke: 2px #fff;
  color: transparent;
  font-weight: 500;
}
.hero h1 {
    font-size: 7.5vw;
    text-transform: uppercase;
    line-height: 7.9vw;
    font-weight: 600;
}
.hero h2, .hero h3 {
    font-size: 7.5vw;
    text-transform: uppercase;
    line-height: 7.9vw;
    font-weight: 600;
}











#page2 {
  width: 100%;
  height: 100vh;
  background-color: #151515;
}
#page3 {
  width: 100%;
  height: 100vh;
  background-color: #151515;
}
#page4 {
  width: 100%;
  height: 100vh;
  background-color: #151515;
}
